// контейнеры
$padding: 17px;
$maxWidth: 940px + ($padding * 2);

// header
$headerMaxWidth: 1200px + ($padding * 2);
$headerHeight: 126px;
$headerHeight2: 80px;
$isHeaderAbove: true;

//font
$fontSize: 16px;
$fontFamily: "Gilroy", sans-serif;
$fontWeight: 400;
$blue: #1f3f68;
$bodyColor: $blue;
$white: #ffffff;
$white2: rgba(255, 255, 255, 0.8);
$white3: rgba(255, 255, 255, 0.4);
$white4: #f2f2f2;
$blue2: #5a98d0;
$blue3: #316099;
$blue4: #98c3e8;
$blue5: #42a6ff;
